* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5e5;
  font-family: Roboto, Raleway;
}
a {
  text-decoration: none;
  color: #212121;
}
ul {
  list-style-type: none;
  display: inline-flex;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
footer {
  background-color: #212121;
  width: 1600px;
  height: 252px;
}
/* header */
.menu {
  position: absolute;
  display: flex;
  width: 1600px;
  height: 80px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 1px;
}
.menu-logo {
  color: #000000;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-top: 24px;
  margin-left: 215px;
  margin-bottom: 25px;
  display: flex;
}
.menu-logo-web {
  color: #2196f3;
}
.nav-list {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-left: 93px;
}
.nav-list-portfolio {
  padding-left: 46px;
}
.nav-list-kontakt {
  padding-left: 64px;
}
.menu-contacts {
  color: #757575;
  font-size: 16px;
  padding-left: 353px;
  margin-top: 32px;
}
.menu-contacts-tel {
  padding-left: 50px;
}
.hover:hover {
  color: #2196f3;
}
/* header */
/* main */
/* main-1 */
.main-slogan {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}
.slogan {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-top: 200px;
  padding-left: 452px;
  padding-right: 452px;
}
.slogan-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: 700px;
  margin-top: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
/* main-1 */
.main-2 {
  background-color: #ffffff;
  width: 1600px;
}
/* main-2 */
.loremipsum-list {
  padding: 94px 215px 94px 215px;
}
.loremipsum {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 10px;
}
.loremipsum-description {
  font: size 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.loremipsum-padding {
  padding-left: 30px;
}
/* main-2 */
/* main-3 */
.main-images-1 {
  padding: 50px 215px 94px 215px;
}
.main-images-1-1 {
  padding-left: 30px;
}
/* main-3 */
/* main4 */
.main-3 {
  background-color: #f5f4fa;
  width: 1600px;
  height: 648px;
}
.main-3-logo {
  padding: 94px 695px 50px 695px;
}
.main-3-images {
  padding-left: 215px;
  padding-bottom: 94px;
}
.main-3-images-padding {
  margin-left: 30px;
}
.main-3-images-box {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-3-images-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
}
.main-3-images-description {
  font-syle: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  padding-top: 10px;
  line-height: 5;
}
/* main4 */
/* main */
/* footer */
/* footer */ ;
